{% extends 'base.html' %}

{% block content %}
<h1>Locations</h1>

<table class="tablenest">
  <tr>
    <th>Name</th>
    <th></th>
    <th>Category</th>
    <th></th>
    <th>Delete</th>
  </tr>
  {% for country in countries %}
  <tr>
    <td><a href="/countries/{{ country.id }}"> {{country.name}} </a></td>
    <td>|</td>
    <td>{{ country.category }}</td>
    <td>|</td>
    <td><form action="/countries/{{ country.id }}/delete" method="post">
      <button>Delete</button></form>
  </tr>
  {% endfor %}
</table>

<a href="/countries/new">Add new country</a>
<a href="/countries/newentry">Add a Country review</a>
{% endblock  %}
