{% extends 'base.html' %}

{% block content %}
<h1> {{country.name}} </h1>

{% if visit_status.visited == None %}
<form action="/countries/{{ country.id }}/visited-want-to-visit" method="post">
    <button id="visit-btn">Not visited</button>
</form>

{% elif visit_status.visited == "Want to visit" %}
<form action="/countries/{{ country.id }}/visited-visited" method="post">
    <button id="visit-btn">Want to visit</button>
</form>

{% else %}
<form action="/countries/{{ country.id }}/visited-none" method="post">
    <button id="visit-btn">Visited</button>
</form>
{% endif %}
<section>
    <div>
        <h3>Cities to visit:</h3>
            <ul>
                {% for city in cities  %}
                <li>{{city.name}}</li>
                {% endfor %}
            </ul>
        <h3>Attractions to visit:</h3>
            <ul>
                {% for attraction in attractions  %}
                <li>{{attraction.name}}</li>
                {% endfor %}
            </ul>
    </div>
</section>
<section>
    <div id="review">
            <h3>Reviews:</h3>
        <ul>
            {% for visit in visits %}
                <li>{{ visit.user.name }} : {{ visit.review }}</li>
            {% endfor %}
        </ul>
    </div>
</section>
{% endblock %}