{% extends 'base.html' %}

{% block content %}
<h1>Locations</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th>Category</th>
  </tr>
  {% for city in cities %}
  <tr>
    <td><a href="/cities/{{ city.id }}"> {{city.name}} </a></td>
    <td>{{ city.country.name }}</td>
    <td>|</td>
    <td><form action="/cities/{{ city.id }}/delete" method="post">
      <button>Delete</button></form><td>
    </td>
  </tr>
  {% endfor %}
</table>
<a href="/cities/new">Add new city</a>
<a href="/cities/newentry">Add a city review</a>
{% endblock  %}