{% extends 'base.html' %}

{% block content %}
<h1>Locations</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th>Category</th>
  </tr>
  {% for attraction in attractions %}
  <tr>
    <td><a href="/attractions/{{ attraction.id }}"> {{attraction.name}} </a></td>
    <td>|</td>
    <td>{{ attraction.attraction_cat }}</td>
    <td>|</td>
    <td><form action="/attractions/{{ attraction.id }}/delete" method="post">
      <button>Delete</button>
  
  </form></td>
  </tr>
  {% endfor %}
</table>
<a href="/attractions/new">Add new attraction</a>
{% endblock  %}