{% extends 'base.html' %}

{% block content %}
<h1>City Review</h1>

<form action="/attractions/newentry" method="post">
</div>
<label for="user_id">Select a User</label>
<select name="user_id" id="user_id">
    {% for user in users %}
    <option value="{{ user.id }}">{{ user.name }}</option>
    {% endfor %}
</select>
</div>
</div>
<label for="attraction_id">Select an attraction</label>
<select name="attraction_id" id="city_id">
    {% for attraction in attractions %}
    <option value="{{ attraction.id }}">{{ attraction.name }}</option>
    {% endfor %}
</select>
</div>
<div>
<div>
<label for="review">Review</label>
<input type="text" name="review"  id="review">
<button>Submit</button>
</div>

</form>

{% endblock  %}